body {
    font-family: Arial, sans-serif;
}

#buttons {
    margin-right: 20px;
    text-align: center;
}
.btn{
    width: 120px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
#todo-list{
    /* border: 1px solid black; */
    width: 60%;
    height: 30px;
    margin: auto;
    display: grid;
    
}
th{
    border: 1px solid black;
    border-radius: 7px;
    gap: 4px;
    height: 23px;
    background-color: darkgray;
}
td{
    border: 1px solid black;
    border-radius: 7px;
    gap: 4px;
    height: 23px;
    /* background-color: red; */
}
#my-input{
    width: 190px;
    height: 30px;
    border: 1px solid black;
}
#addTodo{
    width: 120px;
    height: 40px;
    margin-left: 10px;
    /* background-color: blue;
    color: white; */
}
