body{
  color:9932CC;
     
}
.container{
    height: 50vh;
    width: 28vw;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: silver;

}
.buttons{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    
    gap: 5px;
    
    
}
.display{
    grid-column: 1/4;
    height: 50px;
    border-radius: 5px;
    /* text-align: end; */
    font-size: large;
    border-color: black;
    

}
#clr{
    grid-column: 4;
    background-color:blue;
    color:white;
    border-color: black;
    border-radius: 5px;
    
}
.btn{
    height: 40px;
    color: white;
    background-color:cornflowerblue;
    border-color: black;
    border-radius: 5px;
}
h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#multiply,#divide,#plus,#minus{
    background-color: rgb(150, 109, 150);
    border-color: black;
    border-radius: 5px;
}
#ans{
    background-color:brown;
    border-color: black;
    border-radius: 5px;
}





